<div class="menu">
    	<div class="container">
        	<div class="row">
            <div class="col-md-12">
                <nav class="navbar fixed-top sticky-top navbar-toggleable-md navbar-light bg-faded">
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  
                  <div class="collapse navbar-collapse mainMenu" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                                <a class="nav-link" href="#shop">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#farm">Our Farms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#client">Our Clients</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact</a>
                            </li>
                    </ul>
                  </div>
                </nav>
                </div>
        	</div><!-- End of row -->
        </div><!-- End of container -->
        </div>


<!--<div class="container">
        	<div class="row">
                <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  
                  <div class="collapse navbar-collapse mainMenu" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                                <a class="nav-link" routerLink="/">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#farm">Our Farms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#client">Our Clients</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact</a>
                            </li>
                    </ul>
                  </div>
                </nav>
        	</div> End of row 
        </div> End of container -->