
        
<div id="contact" class="contactSection container">
            <div class="row">
                <div class="col-md-3">
                    <h2>Contact Us</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                    <p><i class="glyphicon glyphicon-earphone"></i> 212222222</p>
                    <p><i class="glyphicon glyphicon-envelope"></i> info@gmail.com</p>
                </div>
                <div class="col-md-3">
                    <h2>Follow us</h2>
                    <p><i class="fa fa-facebook"></i> Localharvest</p>
                    <p><i class="fa fa-instagram"></i> Localharvest</p>
                    
                </div>
            </div>

        </div>