
        <div id="about" class="aboutSection">
            <h2>About</h2>
            <div class="row">
                <div class="col-md-6">
                	<p>Local Harvest was started by Steve and Ana Phillips  in 2011.  Local Harvest works with 40-50 Maui
                                growers to supply more than 60 wholesale accounts (restaurants, stores, and producers) 
                               and farmers markets with fresh, local produce. 
                               The goal of Local Harvest is to build the local food supply on Maui. 

                               Local Harvest is dedicated to local sustainability for Maui County.
                               Steve Phillips is a co-founder of Upcountry Sustainability, and founder
                                of West Maui Sustainability and the local representative of PROUT, 
                               an organization working for local cooperative-based economies worldwide.  The original Hawaiians grew 
                               enough food to feed 200,000 people of the island and so can we saving on shipping costs, and supporting
                               the local economy and food supply.
                               Use image from this page:
                        </p>
                </div>
                <div class="col-md-6">
                    <img src="/assets/img/about-image.jpg" class="img-responsive"  height="150">
                </div>
            </div>

        </div>
      
      