
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="bannerSection jumbotron">
    	<div class="bannerImg">
        	<div class="jumbotron" style="background-image:url('/assets/img/banner5.jpg');background-repeat-y: no-repeat;">
                </div>
        </div><!-- End of bannerImg -->
        
        <div class="logoSection">
        	<img src="/assets/img/logo.jpg" alt="" title="" />
        </div><!-- End of logoSection -->
    </div><!-- End of bannerSection -->
    